@model Blog.Entities.Article

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
<form method="post">
<div>
     @Html.LabelFor(m => m.Title)
     @Html.TextBoxFor(m => m.Title)
</div>
<br />
<div>
    <input class="button" type="submit" value="Create" />
</div>
</form>
}