@using Blog.Entities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@{
    List<Article> articles = ViewBag.Articles;
}

<h2>Index</h2>
<div>
    <ul>
        @foreach (var article in articles)
        {
            <li>@article.Title</li>
        }
    </ul>
</div>
