@using Blog.Entities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@{
    List<Article> articles = ViewBag.Articles;
}


<div>
    
    <h2>List of posted articles</h2>
    <ul>
        @foreach (var article in articles)
        {
            <li>@article.Title</li>
        }
    </ul>
</div>
