@using Blog.Entities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@{
    List<Article> articles = ViewBag.Articles;
}

<h2>Index</h2>
<div>
    <div>
       <input class="button" type='button' value='Create new article' onclick='window.location = "@Url.Action("Create","Home") ";' />
    </div>
    <h3>List of posted articles</h3>
    <ul>
        @foreach (var article in articles)
        {
            <li>@article.Title</li>
        }
    </ul>
</div>
