@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h2>We're sorry, but something went wrong. Please, contact your admin</h2>
    </div>
</body>
</html>
