body {
    font: "Trebuchet MS", Verdana, sans-serif;
    background-color: #E5E4E2;
    color: black;
}

h2
{
border-bottom: 3px solid #3090C7;
font: Georgia, serif;
color: #3090C7;
}
h3
{

font: Georgia, serif;
color: #3090C7;
}
.button
{

background-color:#3090C7;
color: white;
font-size: 22px;
font-family: Calibri;
padding:6px 30px;
border-bottom: 3px;
border:none;
border-radius:5px;

}
.general-button {
    background-color:#3090C7;
    color: white;
    font-size: 20px;
    font-family: Calibri;
    padding:6px 10px;
    border-bottom: 3px;
    border:none;
    border-radius:5px;
    width:100px;
    margin-bottom:5px;
}
.small-button {
    background-color:#3090C7;
    color: white;
    font-size: 15px;
    font-family: Calibri;
    padding:6px 10px;
    border-bottom: 3px;
    border:none;
    border-radius:5px;
    width:100px;
    margin-bottom:5px;
}
fieldset label
{
display: block;
padding: 4px;
}

table td {
    width:400px;
    grid-column-align:center;
}

#header {
    width:100%;
    height:100px;
    background: #98AFC7;
    border-bottom: 3px solid black;
}
#userLabel {
    position: absolute;
    display: inline-block;
    float: right;
    right: 120px;
    color: black;
    top: 25px;
    margin-right: 10px;
    font-size:25px;
}
#login {
    position: absolute;
    
    height: 100%;
    width: 60px;
    float: right;
    right: 60px;
    top: 25px;
    
}

#mainBody {
    width: 100%;
    height: 647px;
    position: relative;
    
}
#menuPlaceholder {
    width:20%;
    height:100%;
    background:#98AFC7;
    float: left;
}
ul.menu{
	list-style-type:none;
	padding:0;
	position:relative;
	margin-top:50px;
	width: 70%;
	min-width:90px;
	margin-left:auto;
	margin-right:auto;
}

.menu li{
	margin-bottom:25px;
	text-align:center;
}

#mainContent {
    display:inline-block;
    width:79.5%;
    margin-left: auto;
    margin-right: auto;
    border-left: 3px solid;
    height:100%;
    background:#E5E4E2;
}